{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>more about us!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-6">
          <h4>Django Blog</h4>
          	<p>
              I write about anything I have learned and learn about Django framework. There is much to learn  about Django
              and I believe sharing knowledge helps others as well as myself in one way or other.
            </p> 
            </div>
          <div class="col-lg-6">
          <h4>Favourite quote</h4>
          <p>
            <i>"If you're always ok with simple stuffs, you won't make progress because to build experience and comprehension skills, you need to learn the hard way.
Practice daily, learn new stuff, build projects."</i> ~ Hopson Gausi
          </p>
          </div>
        </div>        
      </div>
    </section>

    
  {% endblock content %}
